# Rust
/rust/target/
/target/

# Rust resources
rust/resources/jassets/*
!rust/resources/jassets/j4rs-*

rust/resources/deps/*

# Gradle cache
.gradle/
java/.gradle/

# Build outputs
build/
java/build/
java/patchbukkit/build/
java/patchbukkit/bin/

# Examples
examples/*/bin
examples/*/run

# Keep Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
!java/gradle/wrapper/gradle-wrapper.jar

# Never ignore source build dirs if any exist
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
java/.idea/

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

.DS_Store
